@import url('https://fonts.googleapis.com/css?family=Fira-Sans');
body {
    background-color: #282c34;
    color: #abb2bf;
    font-family: "Fira Sans";
    text-align: center
}
h1 {
    color: #98c379
}
a {
    color: #61afef
}
